@model Sisgef.Models.Requisicao
@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}



        <div id="geral">
            <div id="principal">
                <div id="conteudo-2">
                    <div id="conteudo-2-1">

                        <img src="~/Imagem/logo.png" height="200" />
                    </div>

                    <div id="conteudo-2-3">
                        <p>O nome da sua empresa vai aqui</p>
                        <p>Aqui o CNPJ</p>
                        <p>Endereço</p>
                        <p>Contato</p>
                    </div>
                </div>



                <div id="conteudo-3">
                    <div id="conteudo-3-1">
                        <dl>
                            <dt>Data:</dt>
                            <dd type>@Model.Data</dd>
                        </dl>
                        <dl>
                            <dt>Autorizado por:</dt>
                            <dd>@Model.Responsavel</dd>
                        </dl>
                        <dl>
                            <dt>Tipo de Serviço:</dt>
                            <dd>@Model.TipoDeServico</dd>
                        </dl>
                        <dl>
                            <dt>Observação:</dt>
                            <dd>@Model.Observacao</dd>
                        </dl>
                    </div>
                    <div id="conteudo-3-2">
                        <dl>
                            <dt>Valor do serviço:</dt>
                            <dd>@Model.Valor</dd>
                        </dl>
                    </div>
                    <div id="conteudo-3-3">
                        <dl>
                            <dt>Motorista:</dt>
                            <dd>@Model.Motorista</dd>
                        </dl>

                        <dl>
                            <dt>Veículo:</dt>
                            <dd>@Model.Veiculo.Modelo</dd>
                        </dl>
                        <dl>
                            <dt>Local do serviço:</dt>
                            <dd>@Model.Fornecedor.Nome</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
<hr />

