@model Sisgef.Models.Requisicao
@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}




<div class="container-fluid">
    <div id="logo"> <img src="~/Imagem/logo.jpg" height="200" /></div>
    <div id="empresa">
        <p>Transportadora Company Trucking</p>
        <p>12.345.678/0001-11</p>
        <p>BR-364, KM50 - Porto Velho/RO</p>
        <p>(69) 3222-2222</p>
    </div>
    <div id="data">
        Data: @Model.Data
    </div>
    <div id="requisicaonumero">
        Requisição Nº @Model.Id
    </div>
    <div id="bloco1">
        <dl>
            <dt>Local do serviço</dt>
            <dd> @Model.Fornecedor.Nome</dd>


            <dt>Tipo do serviço</dt>
            <dd> @Model.TipoDeServico</dd>
            <dt>Detalhamento</dt>
            <dd>@Model.Observacao</dd>

        </dl>
    </div>
    <div id="bloco2">
        <dl>
            <dt>Nome do Motorista</dt>
            <dd>@Model.Motorista</dd>
            <dt>Placa do veículo</dt>
            <dd>@Model.Veiculo.Placa</dd>
            <dt>Valor</dt>
            <dd>R$ @Model.Valor</dd>
        </dl>
    </div>
    @*<div id="bloco3">
        <p>Autorizado por @Model.Responsavel</p>
    </div>*@
</div>
