@model IEnumerable<Sisgef.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid mt-4 ">
    <div class="col-12">
        <h4>Veículos cadastrados</h4>
        <hr />
        <div class="row h5 text-left">
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Placa)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Marca)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Modelo)
            </div>
        </div>
        <hr />

        <div class="accordion" id="accordionExample">
            @foreach (var item in Model)
            {
                <div class="row font-weight-bold" data-toggle="collapse" data-target="#collapse@(item.Id)" aria-expanded="true"
                     aria-controls="collapseOne">
                    <div class="col-2">
                        @Html.DisplayFor(modelItem => item.Placa)
                    </div>
                    <div class="col-2">
                        @Html.DisplayFor(modelItem => item.Marca)
                    </div>
                    <div class="col-2">
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </div>
                    <div class="col-5">
                        <a class="float-right" asp-action="AddEdit" asp-route-id="@item.Id"> Editar</a>
                    </div>
                    <div class="col-1">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1 float-left" onclick="return confirm('Você tem certeza que deseja deletar?')">Excluir </a>
                    </div>
                </div>
                <hr />


                <div id="collapse@(item.Id)" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">

                    <div class="row">
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Renavam)</a><br />
                            @Html.DisplayFor(model => item.Renavam)
                        </div>
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Cor)</a><br />
                            @Html.DisplayFor(model => item.Cor)
                        </div>
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.TipoCarroceria)</a><br />
                            @Html.DisplayFor(model => item.TipoCarroceria)
                        </div>
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.TipoDoVeiculo)</a><br />
                            @Html.DisplayFor(model => item.TipoDoVeiculo)
                        </div>
                        <div class="col-4">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Chassi)</a><br />
                            @Html.DisplayFor(model => item.Chassi)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.AnoFabricacao)</a><br />
                            @Html.DisplayFor(model => item.AnoFabricacao)
                        </div>
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Odometro)</a><br />
                            @Html.DisplayFor(model => item.Odometro)
                        </div>
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Combustivel)</a><br />
                            @Html.DisplayFor(model => item.Combustivel)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-4">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.NomeDoProprietario)</a><br />
                            @Html.DisplayFor(model => item.NomeDoProprietario)
                        </div>
                        <div class="col-4">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.DocumentoDoProprietario)</a><br />
                            @Html.DisplayFor(model => item.DocumentoDoProprietario)
                        </div>
                        <div class="col-4">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.LocalDeEmplacamento)</a><br />
                            @Html.DisplayFor(model => item.LocalDeEmplacamento)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-4">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Observacao)</a><br />
                            @Html.DisplayFor(model => item.Observacao)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

