@model IEnumerable<Sisgef.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}


<link href="~/css/Fornecedor.css" rel="stylesheet" />
<div class="container-fluid mt-4 ">
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <h4>Fornecedores cadastrados</h4>
            </div>
            <div class="col-7">
                <form asp-action="Lista">
                    <div class="row" style="float:right">
                        <div class="col-10">
                            <input class="form-control"required="required" placeholder="Nome/Razão social" name="Pesquisa"/>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="row h5 text-left">
            <div class="col-3">
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </div>
            <div class="col-3">
                @Html.DisplayNameFor(model => model.Nome)
            </div>
            <div class="col-3">
                @Html.DisplayNameFor(model => model.Contato)
            </div>
        </div>
        <hr />

        <div class="accordion" id="accordionExample">
            @foreach (var item in Model)
            {
                <div class="row font-weight-bold" data-toggle="collapse" data-target="#collapse@(item.Id)" aria-expanded="true"
                     aria-controls="collapseOne">
                    <div class="col-3 btn-link font-weight-bold">
                        @Html.DisplayFor(modelItem => item.CpfCnpj)
                    </div>
                    <div class="col-3 btn-link font-weight-bold">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </div>
                    <div class="col-3 btn-link font-weight-bold">
                        @Html.DisplayFor(modelItem => item.Contato)
                    </div>
                    <div class="col-2">
                        <a class="float-right" asp-action="AddEditFornecedor" asp-route-id="@item.Id"> Editar</a>
                    </div>
                    <div class="col-1">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1 float-left" onclick="return confirm('Você tem certeza que deseja deletar?')">Excluir </a>
                    </div>
                </div>
                <hr />
                <div id="collapse@(item.Id)" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="row">
                        <div class="col-3">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Email)</a><br />
                            @Html.DisplayFor(model => item.Email)
                        </div>
                        <div class="col-3">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Contato2)</a><br />
                            @Html.DisplayFor(model => item.Contato2)
                        </div>
                    </div>
                    <div class="row" style="padding-top:2px;">
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Rua)</a><br />
                            @Html.DisplayFor(model => item.Rua)
                        </div>
                        <div class="col-2">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Numero)</a><br />
                            @Html.DisplayFor(model => item.Numero)
                        </div>
                        <div class="col-4">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Bairro)</a><br />
                            @Html.DisplayFor(model => item.Bairro)
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Observacao)</a><br />
                            @Html.DisplayFor(model => item.Observacao)
                        </div>
                        <div class="col-4" hidden>
                            <a class="font-weight-bold"> @Html.DisplayNameFor(model => model.Posto)</a><br />
                            @Html.DisplayFor(model => item.Posto)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
