@model IEnumerable<Sisgef.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid mt-4 ">
    <h4>Fornecedores cadastrados</h4>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CpfCnpj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoDeServico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Observacoes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contato)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rua)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Numero)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bairro)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.CpfCnpj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDeServico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacoes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rua)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </td>
                        <td>
                            <a asp-action="AddEdit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Você tem certeza que deseja deletar?')">Excluir</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
        
    </div>


